

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
}


.alchemy_logo{
	width: 6rem;
	cursor: pointer;
}


.button{
	display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

padding: 24px 32px;
gap: 12px;

width: 292px;
height: 60px;

background: rgba(34, 33, 33, 0.9);
/* Grayscale/Metal */
box-shadow: 2px 2px 3px rgb(142, 142, 142);
border-radius: 12px;
cursor: pointer;
transition: all .5s;
color: white;
}